*.iml
*TMP
*_ddr
*eo_outputs
.DS_Store
.idea
.idea/
consoleApp.iml
node_modules/
src/main/resources/sample_in
src/main/resources/sample_out
src/main/resources/tmp_out
src/test/resources/integration/xmirs
target
target/
tmp*
